.navbar{
    /* background: rgba(0, 0, 0, 0.5); */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin: 0;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: large;
    font-weight: 600;
}

.navbar li{
    list-style-type: none;
}